@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Exposiciones de carros</p>
</div>

<main class="container my-5">   
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/img/tesla-model-s.jpg" alt="Automóvil tesla color rojo">
                    <div class="caption">
                        <h3>Tesla models S</h3>
                        <p>El Tesla Model S es un liftback eléctrico de alta gama. Este modelo sigue el plan de negocio de Tesla Motors para expandir su mercado hacia vehículos más asequibles.</p>
                        <a href="#">@Html.ActionLink("Comentar", "Create", "Comentarios")</a>                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/img/tesla-model-3.jpg" alt="Automóvil tesla color blanco">
                    <div class="caption">
                        <h3>Tesla models 3</h3>
                        <p>El Tesla Model 3 es una berlina de dimensiones compactas y 100% eléctrica del segmento D, fabricada por Tesla desde 2016.</p>
                        <a href="#">@Html.ActionLink("Comentar", "Create", "Comentarios")</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/img/tesla-model-x.jpg" alt="Automóvil tesla color blanco con puertas abiertas">
                    <div class="caption">
                        <h3>Tesla models X</h3>
                        <p>El Tesla Model X es un SUV completamente eléctrico, del segmento E, fabricado por Tesla desde 2016, con enfoque Premium y con posibilidad de acomodar hasta siete personas.</p>
                        <a href="#">@Html.ActionLink("Comentar", "Create", "Comentarios")</a>
                    </div>
                </div>
            </div>
        </div>
</main>